.page-home
  .container
      h1 Hiram Hibbard
      h3 Full Stack Web Developer

    .home-content
      p.text-center
        | I'm a Web Developer based in San Luis Obispo, California.<br>
        | I work at an <strong>amazing company</strong> with <strong>amazing people</strong>, <a href="://wearehathway.com" target="_blank">HATHWAY</a>.

      p.text-center
        | I've been building things for the web for about a decade.<br>
        | I make <strong>websites</strong> and <strong>apps</strong> by day, and <var>dream of code</var> at night.

    .contact-form
      h2.text-center
        | Say Hi!
      .row
        .col-sm-3.col-sm-offset-3
          form(
            action="//formspree.io/hiramhibbard@gmail.com"
          )
            .form-group
              input(
                type="text",
                name="name",
                placeholder="name"
              )
            .form-group
              input(
                type="email",
                name="_replyto"
                placeholder="email"
              )
            .form-group
              textarea(
              placeholder="message",
              rows="5"
            )
            input.btn.btn-default(
              type="submit",
              value="Send"
            )
        .col-sm-3
          img.me(
            src="/assets/images/me.png"
          )